body {
    margin:0%;
}
#container {
    height: 100%;
    width: 100%;
}
#header {
    background-color: dodgerblue;
    height: 60px;
    width: 100%;
    background-image: url(../img/coolblue.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position-y: -10px;
}